* {
  font-family: Helvetica, sans-serif, arial;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.1em;
  }

/*NAVIGATION*/
.topnav {
  background-color: #655E5E;
  overflow: hidden;
  height: 3em;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 999;
  }
  
.topnav a:nth-child(1) {
  color: greenyellow;
  font-family: 'Shadows Into Light';
  font-size: 1.5em;
  padding: .25em;
  margin: 0px;
  padding-left: .5em;
  padding-right: .5em;
  }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
  }
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
  }
  
.topnav a.active {
  background-color: greenyellow;
  color: black;
  }
/*NAVIGATION*/

.firstimg {
    height: 300px;
    width: auto;
}

.secondimg {
    height: 300px;
    width: auto;
}
  
h2 {
  text-align: center;
}

p {
  margin-bottom: 5px;
}

main {
  margin-left: 15em;
  margin-right: 15em;
  position: relative;
  top: 4em;
}
