* {
    font-family: helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
   /*TOP NAV BAR*/
   .topnav {
    height: 45px;
    position: relative;
    background-color: #37BDDB;
  }
  
  .topnav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    font-family: candara;
  }
  
  .topnav a:hover{
    text-decoration: underline;
  }
  /*TOP NAV BAR*/

table {
    width: 800px;
}

    td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }
  th {
    text-align: center;
  }