* {
  font-family: Helvetica, sans-serif, arial;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

/*NAVIGATION*/
.topnav {
  background-color: #655E5E;
  overflow: hidden;
  height: 3em;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 999;
  }
  
.topnav a:nth-child(1) {
  color: greenyellow;
  font-family: 'Shadows Into Light';
  font-size: 1.5em;
  padding: .25em;
  margin: 0px;
  padding-left: .5em;
  padding-right: .5em;
  }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  padding: 1em;
  }
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
  }
  
.topnav a.active {
  background-color: greenyellow;
  color: black;
  }
/*NAVIGATION*/

/*GRID*/
.grid { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-items: center;
  grid-gap: 1.5em;
  }

.griditem {
  max-width: 100%;
  }

.grid p {
  text-align: center;
  font-size: .85em;
  padding-bottom: .3em;
  }

.grid img {
  width: 22.5em;
  height: 20em;
  }
/*GRID*/

/*STYLING*/
h1 {
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
  }

.italic {
  font-style: italic;
  }

.maincontainer {
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 4em;
  }
/*STYLING*/